/*--variables css--*/
:root {
  --primary-clr: #f36825;
  --bg-color:  #e2e1dc;
  --bg2-color:  #ffffff;
  --text-color: #333;
  --bgcon-color:  #e7e7e7;
  --icon-color:  #393939;
  --calcon-color:  #fff;
  --cal2con-color:  rgb(190, 190, 190);
  --todo-color:  #f8b883;
  --darkmode: #d8500c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.dark-mode {
  --bg-color: #262626;
  --bg2-color:  #2a2929;
  --text-color: #e2e1dc;
  --bgcon-color:  #3b3b3c;
  --icon-color:  #e9e9e9;
  --calcon-color:  #262626;
  --cal2con-color:  #0c0c0c;
  --todo-color:  #9c5012;
}



/* nice scroll bar */
::-webkit-scrollbar {
  width: 5px;
  background: var(--bg-color);
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 50px;
}

body {
  position: relative;
  /*min-height: 100vh;*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

#darkMode-icon {
  font-size: 2.4rem;
  color: var(--icon-color);
  cursor: pointer;
  position: absolute;
  bottom: 30px; 
  right: 125px; 
}

.colorTheme-icon {
  font-size: 2.4rem;
  color: var(--icon-color);
  cursor: pointer;
  position: absolute;
  bottom: 25px; 
  right: 80px; 
}
.colorTheme-icon .color-box {
  position: absolute;
  bottom: 90px;
  border-radius: 5px;
  right: 0;
  min-height: 100px;
  background-color: var(--bg2-color);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  opacity: 0;
  pointer-events: none;
}
.colorTheme-icon.open .color-box{
  opacity: 1;
  pointer-events: auto;
}
.colorTheme-icon .color-box::before{
  content: '';
  right: 20px;
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--bg2-color);
}
.colorTheme-icon .color-box h3{
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 10px;
}
.color-box .color-switcher {
  display: flex;
}
.color-box .color-switcher {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 10px;
  margin-right: 10px;
}
.color-box .color-switcher .btn {
  display: inline-block;
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
  border-radius: 50%;
  background: #f36825;
  margin: 0 5px 10px;
  cursor: pointer;
}
.color-switcher .btn.active {
  box-shadow: 0 0 0 2px #fff, 
              0 0 0 4px #f36825;
}
.color-switcher .btn.yellow {
  background: #ffe95c;
}
.color-switcher .btn.yellow.active {
  box-shadow: 0 0 0 2px #fff, 
              0 0 0 4px #ffe95c;
}
.color-switcher .btn.pink {
  background: #fd51ba;
}
.color-switcher .btn.pink.active {
  box-shadow: 0 0 0 2px #fff, 
              0 0 0 4px #fd51ba;
}
.color-switcher .btn.green {
  background: #3ae969;
}
.color-switcher .btn.green.active {
  box-shadow: 0 0 0 2px #fff, 
              0 0 0 4px #3ae969;
}
.color-switcher .btn.blue {
  background: #42d6ff;
}
.color-switcher .btn.blue.active {
  box-shadow: 0 0 0 2px #fff, 
              0 0 0 4px #42d6ff;
}
.color-switcher .btn.purple {
  background: #b640e1;
}
.color-switcher .btn.purple.active {
  box-shadow: 0 0 0 2px #fff, 
              0 0 0 4px #b640e1;
}
.color-switcher .btn.red {
  background: #f82a4d;
}
.color-switcher .btn.red.active {
  box-shadow: 0 0 0 2px #fff, 
              0 0 0 4px #f82a4d;
}
.color-switcher .btn.black {
  background: #000000;
}
.color-switcher .btn.black.active {
  box-shadow: 0 0 0 2px #fff, 
              0 0 0 4px #000000;
}

.header.sticky #darkMode-icon {
  color: var(--icon-color);
  opacity: .9; 
}
.header {   
  z-index: 10;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--icon-color);
  display: none;
}


.container {
  position: relative;
  width: 1000px;
  min-height: 575px;
  margin: 3px;
  padding: 0px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--bgcon-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.left {
  width: 60%;
  padding: 20px;
}
.calendar {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--cal2con-color);
  border-radius: 5px;
  background-color: var(--calcon-color);
  
}
/* set after behind the main element */
.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: var(--cal2con-color);
  transform: translateY(-50%);
}

.calendar .month {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--primary-clr);
}
.calendar .weekdays {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .weekdays .sun {
    color: var(--primary-clr);
}
.calendar .weekdays .mon {
  color: var(--primary-clr);
}
.calendar .weekdays .tue {
  color: var(--primary-clr);
}
.calendar .weekdays .wed {
  color: var(--primary-clr);
}
.calendar .weekdays .thu {
  color: var(--primary-clr);
}
.calendar .weekdays .fri {
  color: var(--primary-clr);
}
.calendar .weekdays .sat {
  color: var(--primary-clr);
}
.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.calendar .days .day {
  width: 14.28%;
  height: 48px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n + 1) {
  border-left: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n) {
  border-right: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(-n + 7) {
  border-top: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(n + 29) {
  border-bottom: 2px solid #f5f5f5;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
  color: #fff;
  background-color: var(--darkmode);
}
.calendar .days .prev-date,
.calendar .days .next-date {
  color: #b3b3b3;
}
.calendar .days .active {
  position: relative;
  font-size: 1.5rem;
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendar .days .today {
  font-size: 1.6rem;
}
.calendar .days .event {
  position: relative;
}
.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 3.5px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}
.calendar .days .day:hover.event::after {
  background-color: #fff;
}
.calendar .days .active.event::after {
  background-color: #fff;
  bottom: 20%;
}
.calendar .days .active.event {
  padding-bottom: 10px;
}
.calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--primary-clr);
}
.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--primary-clr);
}
.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  background-color: transparent;
  color: var(--primary-clr);
  border-radius: 5px;
}
.calendar .goto-today button {
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-clr);
}
.calendar .goto-today button:hover {
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--primary-clr);
  border-radius: 0;
}
.container .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
}

.right .today-date {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
}
.right .today-date .event-date {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
}
.events {
  width: 100%;
  height: 70%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}
.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: var(--text-color);
  background: linear-gradient(90deg, var(--todo-color), transparent);
  cursor: pointer;
}
/* even event */
.events .event:nth-child(even) {
  background: transparent;
}
.events .event:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}
.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}
.events .event i {
  color: var(--primary-clr);
  font-size: 0.5rem;
}
.events .event:hover i {
  color: #fff;
}
.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: #878895;
  margin-left: 15px;
  pointer-events: none;
}
.events .event:hover .event-time {
  color: #fff;
}
/* add tick in event after */
.events .event::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: var(--primary-clr);
  transform: translateY(-50%);
}
.events .event:hover::after {
  display: flex;
}
.add-event {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--icon-color);
  border: 2px solid var(--icon-color);
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.add-event:hover {
  opacity: 1;
}
.add-event i {
  pointer-events: none;
}
.events .no-event {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--icon-color);
  opacity : 0.5;
}
.add-event-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: max-height 0.5s ease;
}
.add-event-wrapper.active {
  max-height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.add-event-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: var(--text-color);
  border-bottom: 1px solid #f5f5f5;
  background-color: var(--bg2-color);
  border-radius: 0;
}
.add-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}
.add-event-header .close:hover {
  color: var(--primary-clr);
}
.add-event-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.add-event-body {
  width: 100%;
  height: 100%;
  display: flex;
  border: none;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  background-color: var(--bg2-color);
}
.add-event-body .add-event-input {
  width: 100%;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  
}
.add-event-body .add-event-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text-color);
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg2-color);
  border-radius: 0;
}
.add-event-body .add-event-input input::placeholder {
  color: #a5a5a5;
}
.add-event-body .add-event-input input:focus {
  border-bottom: 1px solid var(--primary-clr);
}
.add-event-body .add-event-input input:focus::placeholder {
  color: var(--primary-clr);
}
.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--bg2-color);
}
.add-event-footer .add-event-btn {
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--primary-clr);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 0;
}
.add-event-footer .add-event-btn:hover {
  background-color: transparent;
  color: var(--primary-clr);
}

/* media queries */

/* Default styles for 1920x1080 */
body {
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: row;
  border-radius: 5px;
}
.container .left,
.container .right {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.calendar::before,
.calendar::after {
  top: 100%;
  left: 50%;
  width: 97%;
  height: 12px;
  border-radius: 0 0 5px 5px;
  transform: translateX(-50%);
}
.calendar::before {
  width: 94%;
  top: calc(100% + 12px);
}
.events {
  padding-bottom: 340px;
}
.add-event-wrapper {
  bottom: 100px;
}
.calendar {
  margin: 0 auto;
}

/* Media queries for smaller screens */
@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    border-radius: 0;
  }
  .container .left,
  .container .right {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .calendar .month {
    height: 75px;
  }
  .calendar .weekdays {
    height: 50px;
  }
  .calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
  }
  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 1rem;
  }
  .right .today-date {
    padding: 20px;
  }

.holiday-tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  display: none;
}
  

/* Styles for holiday names below the date */
.holiday-names {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holiday-name {
  font-size: 10px; /* Adjust the font size as needed */
  color: #555; /* Adjust the color as needed */
  text-align: center;
  margin-top: 2px;
}

.holiday-tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  display: none;
}

.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px; 
  position: relative;

}

.date-number {
  font-size: 18px;
  margin-bottom: 5px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

}
